<ion-view title="Terjemahan" id="translate">
  <ion-content padding="false" class="has-header" ng-class="{'has-loading': isLoading}">
    <!-- <form id="kamus-form7" class="list"> -->
    <div class="row no-padding">
      <div class="col">
        <label class="item item-input search-lang" name="input_dictionary">
            <input type="search" placeholder="Ke" ng-click="initFromLanguage()" ng-change="searchFrom()" ng-model="data.from.name" ng-enter="selectFromLanguage(true)" ng-blur="blurFrom()" select-on-click>
            <i class="icon ion-android-arrow-dropdown-circle placeholder-icon primary-color"></i>
        </label>
        <div class="list suggestion col-40">
          <li ng-click="selectFromLanguage()" class="item" ng-repeat="fromLanguage in fromLanguageList">{{fromLanguage.name}}</li>
        </div>
      </div>
      <div ng-click="swap()" style="margin:10px;" class="col-center text-center ">
        <i class="icon ion-arrow-swap "></i>
      </div>
      <div class="col">
        <label class="item item-input search-lang" name="input_dictionary">
            <input type="search" placeholder="Ke" ng-click="initToLanguage()" ng-change="searchTo()" ng-model="data.to.name" ng-enter="selectToLanguage(true)" ng-blur="blurTo()" select-on-click>
            <i class="icon ion-android-arrow-dropdown-circle placeholder-icon primary-color"></i>
        </label>
        <div class="list suggestion col-40">
          <li ng-click="selectToLanguage()" class="item" ng-repeat="toLanguage in toLanguageList">{{toLanguage.name}}</li>
        </div>
      </div>
    </div>
    <!-- <hr/> -->
    <!-- <div class="row"> -->
    <div class="source list col">
        <label class="item item-input">
            <textarea id="source" ng-change="onSourceChange();" ng-model="data.source" rows="6" placeholder="Masukkan kalimat.."></textarea>
        </label>
    </div>
    <div class="result card">
      <div class="item item-text-wrap" style="white-space: pre-line;  word-wrap: break-word;">{{data.result.basic}}&nbsp</div>
    </div>
    <!-- </div> -->
    <!-- </form> -->

    <!-- <div class="row">
            <div class="col col-45">
                <label class="item item-input item-select">
                    <div class="input-label">

                    </div>
                    <select name="language_from" id="from" ng-model="entity.from">
                        <option ng-repeat="option in userLanguageList" ng-value="option.code" >{{option.name}}</option>
                    </select>
                </label>
            </div>
            <div class="col col-10">
                SWAP
            </div>

            <div class="col col-45">
                <label class="item item-input item-select">
                    <div class="input-label">

                    </div>
                    <select name="language_to" id="to" ng-model="entity.to">
                        <option ng-repeat="option in userLanguageList" ng-value="option.code" >{{option.name}}</option>
                    </select>
                </label>
            </div>
   </ion-content>
</ion-view>
