<ion-view view-title="Pengaturan">
  <ion-content class="">
    <div class="list">
        <a class="item" href="">
          Pembaruan
          <span class="item-note">
          Versi {{appVersion}}
        </span>
        </a>
        <a class="item" href="#/tab/setting/about">
          Tentang
        </a>
    </div>
    <!-- <h4 class="section-heading">Versi</h4>
    <div class="list card">
      <a href="" class="item item-icon-left">
        <i class="icon ion-hammer"></i>{{appVersion}}
      </a>
    </div>
    <hr class="primary">
    <h4 class="section-heading">Kontak</h4>
    <div class="list card">
      <a href="mailto:soetedja@gmail.com" class="item item-icon-left">
        <i class="icon ion-email"></i>soetedja@gmail.com
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-social-skype-outline"></i> irfansoetedja
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-location-outline"></i> Yogyakarta
      </a>
    </div> -->
  </ion-content>
</ion-view>
