<ion-view view-title="Tentang">
  <ion-content class="padding">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h2 class="section-heading">Mongosilakan</h2>
      <hr class="primary">
      <p>
        Layanan terjemahan online Bahasa Indonesia ke Bahasa Jawa dan sebaliknya dengan unggah-unguh Bahasa Jawa. Bahasa yang didukung: <br>Bahasa Indonesia, Bahasa Jawa Ngoko, Bahasa Jawa Krama, dan Bahasa Jawa Krama Inggil (+Sunda dalam tahap pengembangan).
      </p>
    </div>
    <hr class="primary">
    <h4 class="section-heading">Versi</h4>
    <div class="list card">
      <a href="" class="item item-icon-left">
        <i class="icon ion-hammer"></i>{{appVersion}}
    </a>
    </div>
    <hr class="primary">
    <h4 class="section-heading">Kontak</h4>
    <div class="list card">
      <a href="mailto:soetedja@gmail.com" class="item item-icon-left">
        <i class="icon ion-email"></i>soetedja@gmail.com
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-social-skype-outline"></i> irfansoetedja
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-location-outline"></i> Yogyakarta
      </a>
    </div>
  </ion-content>
</ion-view>
