<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Dashboard Tab -->
  <!-- <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab> -->

  <!-- Chats Tab -->
  <!-- <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab> -->

  <!-- Translate Tab -->
  <ion-tab title="Terjemahan" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/translate">
    <ion-nav-view name="tab-translate"></ion-nav-view>
  </ion-tab>

  <!-- Dictionary Tab -->
  <ion-tab title="Kamus" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/dictionary">
    <ion-nav-view name="tab-dictionary"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="Pengaturan" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <!-- <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab> -->
</ion-tabs>
