<ion-view title="Kamus" id="dictionary">
  <ion-content padding="false" class="has-header" ng-class="{'has-loading': isLoading}">
    <form id="kamus-form7" class="list">
      <label class="item item-input " name="input_dictionary">
        <i class="icon ion-search placeholder-icon  primary-color"></i>
        <input type="search" placeholder="Cari" ng-change="onSourceChange()" ng-enter="getWordDictionaryDetails(true)" ng-model="source" select-on-click>
        <i ng-show="searchLoading" class="icon ion-loop placeholder-icon" style="right:20px;position: absolute;"></i>
      </label>
      <div class="list suggestion">
        <li ng-click="getWordDictionaryDetails()" class="item" ng-repeat="suggestion in suggestionResult">{{suggestion.word}}
          <span class="language">{{suggestion.language_name}}</span>
        </li>
      </div>
    </form>
    <div class="result">
      <div ng-repeat="wordPerLanguage in wordsToFilter() | filter:filterTeams" class="card">
        <div class="item item-divider">
          {{(activeAndPendingLanguageList | filter:{'id': wordPerLanguage.result_language_id }:true)[0].name}}
        </div>
        <div class="item item-text-wrap">
          <span ng-repeat="wordDetail in wordDetails | filter:{result_language_id: wordPerLanguage.result_language_id}" class="">{{wordDetail.result}}{{$last ? '' : ', '}}
        </span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
