/* Empty. Add your own CSS if you like */

.suggestion {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.suggestion .item {
  padding-top: 6px;
  padding-bottom: 6px;
  background: #f05f40;
  color: #ffffff
}

.suggestion .item .language {
  float: right;
  font-weight: bold;
}

.search-lang i {
  margin-right: 15px;
}

.search-lang input {
  padding: 0px;
  height: auto;
}

.no-padding {
  padding: 0px;
}

.source.list {
  margin-bottom: 0px;
}

.result.card {
  margin: 0px;
}

.primary-color{
    color:#f05f40 !important;
}

.item-divider {
  background-color: rgba(255, 146, 123, 1);
  color: #fff;
}

.card {
  margin: 20px 3px;
}

.bar.bar-positive {
  border-color: #f05f40;
  background-color: #f05f40;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
  color: #f05f40;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
    border-color: #f05f40;
    color: #f05f40;
}

.bar.bar-loading {
  display: block;
  height: 24px;
  /* starts right below a normal header */
  top: 44px;
  /* make the text centered vertically and horizontally */
  text-align: center;
  padding: 0;
  line-height: 24px;
  /* transition 'sliding down' (check below)*/
  -webkit-transition: 100ms all;
}


/*
 * make the content's top changes animate.
 * might not always look good, but looks
 * good when our loader is added & removed
 */

.has-header {
  -webkit-transition: 100ms top;
}

.has-header.has-loading {
  /* 44px (header) + 24px */
  top: 68px;
}


/* make loading bar slide up/down */

.bar-loading.ng-enter, .bar-loading.ng-leave.ng-leave-active {
  height: 0;
  border-width: 0px;
}

.bar-loading.ng-enter.ng-enter-active, .bar-loading.ng-leave {
  height: 24px;
  border-width: 1px;
}
